@charset "UTF-8";

.deadpoolSection{
    position: relative;
    & .deadimg{
        top: 20%;
        left: 6%;
        height: 600px;
        width: 350px;
        z-index: 10;
        transform: rotate(5deg);
    }
    & .maindiv{
        position: relative;
        &::after{
            content: "";
            height: 115%;
            background: linear-gradient(to bottom, rgba(216, 20, 63, 0) 0%, rgb(216, 20, 63) 88%);
            width: 100%;
            top: -110px;
            left: -189px;
            position: absolute;
            z-index: 1;
            transform: rotate(69deg);
        }
        &::before{
            content: "";
            height: 100%;
            background: linear-gradient(to bottom, rgba(216, 20, 63, 0) 0%, rgb(216, 20, 63) 80%);
            width: 96%;
            bottom: 0;
            left: 39px;
            position: absolute;
            z-index: 1;
            // transform: rotate(69deg);
        }

        
    }
    & .poster{
        // position: relative;
    }
    & .textDiv{
        z-index: 20;
        left: 30%;
        & .number{
            font-size: 18px;
            border: 2px solid white;
            height: 40px;
            width: 40px;
            top: -1%;
            left: -0%;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        & .header{
            
            & .imdb{
                background-color: goldenrod;
                font-weight: 800;
                padding-block: 0;
                font-size: 12px;
                padding: 3px;
            }
            & .sametxt{
                font-size: 12px;
            }
        }
        & .name{
            font-size: 60px;
            text-transform: uppercase;
            color: white;
            font-weight: 800;
            letter-spacing: 1px;
        }
        & .description{
            font-size: 14px;
            opacity: 0.6;
        }
    }
    & .deadpoollie{
        z-index: 200000;
        height: 250px;
        right: -200px;
        width: 600px;
    }
    &::after{
        content: "";
        position: absolute;
        height: 121%;
        width: 430px;
        background-color: #fff;
        transform: rotate(-22deg);
        top: -14px;
        left: -97px;
    }
}